
@{
    ViewBag.Title = "MusteriServisDetay";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}
<div class="container">
    <div class="row margin-vert-30 col-md-12">

        @using (Html.BeginForm("MusteriServisDetay", "Home",FormMethod.Post, new {@class="form-horizontal" }))
        {

        }
    </div>
</div>
