@model ProfileViewModel
@{
    ViewBag.Title = "Profil | " + (Model.Name + " " + Model.Surname);
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}

<div class="container padding-vert-30">
    <h2> Profilinize Hoşgeldiniz.</h2>
</div>
