
@{
    ViewBag.Title = "RecoverPassword";
    Layout = "~/Views/Shared/_LayoutPageBase.cshtml";
}
<div class="row">
    <div class="container padding-vert-30 margin-top-10">
        @using (Html.BeginForm("RecoverPassword","Account"))
        {
            <div class="form-group col-md-6">
                <h2>Kullanıcı adınızı yazınız...</h2> <br />
                <input type="text" id="textUserName" class="form-control" /> <br />
                <button type="submit" id="btngonder" class="btn btn-bronze">GÖNDER</button>
            </div>
        }
    </div>
</div>
@section RecoverPasswordScript{

    <script>
 $("#btngonder").click(function () {
          var userName = $("#textUserName").val();
            console.log(userName);
            window.location.href = '@Url.Action("RecoverthePassword", "Account")' + "?userName=" + userName;
    });
    </script>
}