
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AnketGonder</title>
</head>
<body>
    <div>
        <h5 class="text-info"> Teşekkür ederiz. </h5>
    </div>
</body>
</html>
