<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9"> <![endif]-->
<!--[if !IE]><!-->
<html lang="tr">
<!--<![endif]-->
<head>
    <!-- Title -->
    <title> Repair Tv Service | @ViewBag.Title</title>
    <!-- Meta -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <!-- Favicon -->
    <link href="favicon.ico" rel="shortcut icon">
    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" rel="stylesheet">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/assets/css/animate.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/nexus.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/responsive.css" rel="stylesheet">
    <link rel="stylesheet" href="~/assets/css/custom.css">
    <link href="~/assets/css/mySiteCss.css" rel="stylesheet" />

    <!-- Google Fonts-->
    <link href="http://fonts.googleapis.com/css?family=Roboto:400,300" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300" rel="stylesheet" type="text/css">
</head>
<body>

    <div id="body_bg">
        <!--Pre Header Starts-->
        @{
            Html.RenderAction("preHeaderResult", "Partials");}
        <!--Pre Header Ends-->
        <!--Primary Container Group Starts-->
        <div class="primary-container-group">
            <!-- Background -->
            @{
                Html.RenderAction("backgroundResult", "Partials");}
            <!--End Background -->
            <div class="primary-container">
                <!--Header Starts-->
                @{
                    Html.RenderAction("headerResult", "Partials");
                }
                <!--Header Ends-->
                <!--TopMenu Starts-->
                @{
                    Html.RenderAction("topMenuResult", "Partials");
                }
                <!--TopMenuEnds-->
                <!-- === BEGIN CONTENT === -->
                <div id="content">
                    <div class="container">
                        <div class="row margin-vert-30">
                            <!-- Begin Sidebar Menu -->
                            @{
                                Html.RenderAction("adminSideBarMenuResult", "Partials");
                            }
                            <!-- End Sidebar Menu -->
                            <div class="col-md-6">
                                @RenderBody()
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <!-- === END CONTENT === -->


    </div>

    <!-- JS -->
    <script type="text/javascript" src="~/assets/js/jquery.min.js"></script>
    <script type="text/javascript" src="~/assets/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/assets/js/scripts.js"></script>
    <!-- Isotope - Portfolio Sorting -->
    <script type="text/javascript" src="~/assets/js/jquery.isotope.js"></script>
    <!-- Mobile Menu - Slicknav -->
    <script type="text/javascript" src="~/assets/js/jquery.slicknav.js"></script>
    <!-- Animate on Scroll-->
    <script type="text/javascript" src="~/assets/js/jquery.visible.js" charset="utf-8"></script>
    <!-- Sticky Div -->
    <script type="text/javascript" src="~/assets/js/jquery.sticky.js" charset="utf-8"></script>
    <!-- Slimbox2-->
    <script type="text/javascript" src="~/assets/js/slimbox2.js" charset="utf-8"></script>
    <!-- Modernizr -->
    <script src="~/assets/js/modernizr.custom.js" type="text/javascript"></script>
    <!-- End JS -->
    @RenderSection("Scripts", false)

</body>
</html>
<!-- === END FOOTER === -->