@model ServisKaydi
<div class="form-group col-md-10">
    @Html.LabelFor(x => x.Musteri.TcNo+ " " + x.Musteri.ApplicationUser.UserName)
</div>
<div  class="form-group col-md-10">
    @Html.LabelFor(x => x.Musteri.ApplicationUser.Name + " " + x.Musteri.ApplicationUser.Surname)
</div>