
        <!--Pre Header Starts-->

<div id="pre_header" class="container">
    <div class="row margin-top-10 visible-lg">
        <div class="col-md-6">
            <p>
                <strong>Phone: </strong>&nbsp;0216-555-55-55
            </p>
        </div>
        <div class="col-md-6 text-right">
            <p>
                <strong>Email: </strong>info@iphonerepairservice.com
            </p>
        </div>
    </div>
</div>
<!--Pre Header Ends-->
