
                <!--Header Starts-->

<div id="header" class="container">
    <div class="row">
        <!-- Logo -->
        <div class="logo col-md-3 no-padding">
            <a href="@Url.Action("Index","Home")" title="">
                <img src="~/assets/img/logo.png" alt="Logo" style="height:90px; width:230px;" />
            </a>
        </div>
        <!-- End Logo -->
        <ul class="social-icons pull-right hidden-xs">
            <li class="social-twitter">
                <a href="#" target="_blank" title="Twitter"></a>
            </li>
            <li class="social-facebook">
                <a href="#" target="_blank" title="Facebook"></a>
            </li>

        </ul>
    </div>
</div>

<!--Header Ends-->
