
<!-- === BEGIN FOOTER === -->
<div id="base">
    <div class="container padding-vert-30 margin-top-40">
        <div class="row">
            <!-- Sample Menu -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Neler Yapıyoruz?</h3>
                <ul class="menu">
                    <li>
                        <a class="fa-tasks" href="#">Hizmetlerimiz</a>
                    </li>
                    <li>
                        <a class="fa-users" href="#">Müşteri Yorumlarımız</a>
                    </li>
                    <li>
                        <a class="fa-signal" href="#">İstatistiklerimiz</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <!-- End Sample Menu -->
            <!-- Contact Details -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">İletişim Detayları</h3>
                <p>
                    <span class="fa-phone">Telephone:</span>(216)555-55-55
                    <br>
                    <span class="fa-envelope">Email:</span>
                    <a href="mailto:info@joomla51.com">info@joomla51.com</a>
                    <br>
                    <span class="fa-link">Website:</span>
                    <a href="http://www.joomla51.com">www.joomla51.com</a>
                </p>
                <p>
                    Beşiktaş,
                    <br>İstanbul,
                    <br>Kadıköy
                </p>
            </div>
            <!-- End Contact Details -->
            <!-- Thumbs Gallery -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10">Markalarımız</h3>
                <div class="thumbs-gallery">
                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/arcelik.png">
                        <img id="footer_thumbBox" src="~/assets/img/thumbsgallery/thumbs/arcelikthumb.png" alt="arcelikthumb.jpg">
                        <i></i>
                    </a>
                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/lgsmartTv.jpg">
                        <img src="~/assets/img/thumbsgallery/thumbs/lgthumb.png" alt="lgsmartTv.jpg">
                        <i></i>
                    </a>
                    <a class="thumbBox" rel="lightbox-thumbs" href="~/assets/img/thumbsgallery/smartTv.png">
                        <img src="~/assets/img/thumbsgallery/thumbs/vestelthumb.png" alt="smartTv.jpg">
                        <i></i>
                    </a>
                </div>
                <div class="clearfix"></div>
            </div>
            <!-- End Thumbs Gallery -->
            <!-- Disclaimer -->
            <div class="col-md-3 margin-bottom-20">
                <h3 class="margin-bottom-10"> Akıllı TV için Akıllı Çözümler BİZDE!</h3>
                <p>
                    <span class="text-danger">
                        Siz değerli müşterilerimize Smart Tv servis alanında en güvenilir ve en hızlı hizmeti vermek için buradayız.
                    </span>
                </p>
                <div class="clearfix"></div>
            </div>
            <!-- End Disclaimer -->
            <div class="clearfix"></div>
        </div>
    </div>
</div>

<!-- Footer Menu Starts -->
<div id="footer">
    <div class="container">
        <div class="row">
            <div id="copyright" class="col-md-4">
                <p>(c) 2018 Tüm Hakları Saklıdır. #smartTvRepairService</p>
            </div>
            <div id="footermenu" class="col-md-8">
                <ul class="list-unstyled list-inline pull-right">
                    <li>
                        <a href="#" target="_blank">Sample Link</a>
                    </li>
                    <li>
                        <a href="#" target="_blank">Sample Link</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Footer Menu -->
